openapi: 3.2.0
info:
  title: Fortnox REST API (Representative Subset) Customers API
  description: Grounded OpenAPI description of the Fortnox REST API - the Swedish cloud accounting/ERP platform for SMBs and accounting bureaus.
  version: '3.0'
  contact:
    name: Fortnox Developer
    url: https://www.fortnox.se/developer
  license:
    name: Fortnox API License / Terms
    url: https://www.fortnox.se/developer
servers:
- url: https://api.fortnox.se/3
  description: Fortnox REST API v3
security:
- accessToken: []
  clientSecret: []
tags:
- name: Customers
  description: Customer register.
paths:
  /customers:
    get:
      operationId: listCustomers
      tags:
      - Customers
      summary: List customers
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: A list of customers.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Customers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
                  MetaInformation:
                    $ref: '#/components/schemas/MetaInformation'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createCustomer
      tags:
      - Customers
      summary: Create a customer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Customer:
                  $ref: '#/components/schemas/Customer'
      responses:
        '201':
          $ref: '#/components/responses/CustomerResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /customers/{CustomerNumber}:
    parameters:
    - $ref: '#/components/parameters/CustomerNumber'
    get:
      operationId: getCustomer
      tags:
      - Customers
      summary: Retrieve a customer
      responses:
        '200':
          $ref: '#/components/responses/CustomerResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateCustomer
      tags:
      - Customers
      summary: Update a customer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Customer:
                  $ref: '#/components/schemas/Customer'
      responses:
        '200':
          $ref: '#/components/responses/CustomerResponse'
    delete:
      operationId: deleteCustomer
      tags:
      - Customers
      summary: Delete a customer
      responses:
        '204':
          description: Customer deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    CustomerNumber:
      name: CustomerNumber
      in: path
      required: true
      description: The customer number.
      schema:
        type: string
    page:
      name: page
      in: query
      description: Page number for paginated results.
      schema:
        type: integer
        minimum: 1
    limit:
      name: limit
      in: query
      description: Number of records per page (max 500).
      schema:
        type: integer
        maximum: 500
  schemas:
    ErrorResponse:
      type: object
      description: Fortnox error envelope.
      properties:
        ErrorInformation:
          type: object
          properties:
            Error:
              type: integer
            Message:
              type: string
            Code:
              type: integer
    MetaInformation:
      type: object
      description: Pagination metadata returned on list endpoints.
      properties:
        '@TotalResources':
          type: integer
        '@TotalPages':
          type: integer
        '@CurrentPage':
          type: integer
    Customer:
      type: object
      description: A customer in the customer register.
      properties:
        CustomerNumber:
          type: string
        Name:
          type: string
        OrganisationNumber:
          type: string
        Email:
          type: string
        Address1:
          type: string
        City:
          type: string
        ZipCode:
          type: string
        CountryCode:
          type: string
        Currency:
          type: string
        VATNumber:
          type: string
        Type:
          type: string
          enum:
          - COMPANY
          - PRIVATE
      required:
      - Name
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    CustomerResponse:
      description: A single customer.
      content:
        application/json:
          schema:
            type: object
            properties:
              Customer:
                $ref: '#/components/schemas/Customer'
    Unauthorized:
      description: Missing or invalid Access-Token / Client-Secret.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    accessToken:
      type: apiKey
      in: header
      name: Access-Token
      description: OAuth2 Access-Token (Bearer JWT, valid 1 hour) obtained via the Authorization Code Flow from https://apps.fortnox.se/oauth-v1/token. Sent in the Access-Token header on every request.
    clientSecret:
      type: apiKey
      in: header
      name: Client-Secret
      description: The Client-Secret issued to your registered Fortnox developer application. Sent in the Client-Secret header alongside the Access-Token on every request.
