openapi: 3.0.3
info:
  title: Fortnox REST API (Representative Subset) Accounts Supplier Invoices API
  description: 'Grounded OpenAPI description of the Fortnox REST API - the Swedish cloud accounting/ERP platform for SMBs and accounting bureaus. Base URL is https://api.fortnox.se/3/. Authentication is OAuth2 Authorization Code Flow: each request carries the Access-Token (Bearer JWT, 1h) header plus the Client-Secret header issued to your Fortnox app. The old fixed Access-Token/Client-Secret integration keys were deprecated 2025-04-30.


    SCOPE / FIDELITY NOTE: The Fortnox API exposes 40+ resources. This document ships a solid, representative SUBSET (Invoices, Customers, Articles, Orders, Offers, Vouchers, Accounts, Financial Years, Suppliers, Supplier Invoices, Projects) with pragmatic, partial field-level schemas. Paths, methods, identifiers, the wrapper-object response envelope (e.g. { "Invoice": {...} }, { "Invoices": [...] }), and auth are grounded in Fortnox''s developer documentation. Per-field property coverage is intentionally partial and MODELED/summarized from the docs, not transcribed field-for-field for every resource. Verify exact field sets and validation against https://api.fortnox.se/apidocs before production use.'
  version: '3.0'
  contact:
    name: Fortnox Developer
    url: https://www.fortnox.se/developer
  license:
    name: Fortnox API License / Terms
    url: https://www.fortnox.se/developer
servers:
- url: https://api.fortnox.se/3
  description: Fortnox REST API v3
security:
- accessToken: []
  clientSecret: []
tags:
- name: Supplier Invoices
  description: Inbound accounts-payable supplier invoices.
paths:
  /supplierinvoices:
    get:
      operationId: listSupplierInvoices
      tags:
      - Supplier Invoices
      summary: List supplier invoices
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: A list of supplier invoices.
          content:
            application/json:
              schema:
                type: object
                properties:
                  SupplierInvoices:
                    type: array
                    items:
                      $ref: '#/components/schemas/SupplierInvoice'
                  MetaInformation:
                    $ref: '#/components/schemas/MetaInformation'
    post:
      operationId: createSupplierInvoice
      tags:
      - Supplier Invoices
      summary: Create a supplier invoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                SupplierInvoice:
                  $ref: '#/components/schemas/SupplierInvoice'
      responses:
        '201':
          $ref: '#/components/responses/SupplierInvoiceResponse'
  /supplierinvoices/{GivenNumber}:
    parameters:
    - name: GivenNumber
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getSupplierInvoice
      tags:
      - Supplier Invoices
      summary: Retrieve a supplier invoice
      responses:
        '200':
          $ref: '#/components/responses/SupplierInvoiceResponse'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    ErrorResponse:
      type: object
      description: Fortnox error envelope.
      properties:
        ErrorInformation:
          type: object
          properties:
            Error:
              type: integer
            Message:
              type: string
            Code:
              type: integer
    SupplierInvoice:
      type: object
      description: An inbound supplier (accounts-payable) invoice.
      properties:
        GivenNumber:
          type: string
          readOnly: true
        SupplierNumber:
          type: string
        InvoiceNumber:
          type: string
        InvoiceDate:
          type: string
          format: date
        DueDate:
          type: string
          format: date
        Total:
          type: number
        VAT:
          type: number
        Currency:
          type: string
        Booked:
          type: boolean
      required:
      - SupplierNumber
    MetaInformation:
      type: object
      description: Pagination metadata returned on list endpoints.
      properties:
        '@TotalResources':
          type: integer
        '@TotalPages':
          type: integer
        '@CurrentPage':
          type: integer
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    SupplierInvoiceResponse:
      description: A single supplier invoice.
      content:
        application/json:
          schema:
            type: object
            properties:
              SupplierInvoice:
                $ref: '#/components/schemas/SupplierInvoice'
  parameters:
    page:
      name: page
      in: query
      description: Page number for paginated results.
      schema:
        type: integer
        minimum: 1
    limit:
      name: limit
      in: query
      description: Number of records per page (max 500).
      schema:
        type: integer
        maximum: 500
  securitySchemes:
    accessToken:
      type: apiKey
      in: header
      name: Access-Token
      description: OAuth2 Access-Token (Bearer JWT, valid 1 hour) obtained via the Authorization Code Flow from https://apps.fortnox.se/oauth-v1/token. Sent in the Access-Token header on every request.
    clientSecret:
      type: apiKey
      in: header
      name: Client-Secret
      description: The Client-Secret issued to your registered Fortnox developer application. Sent in the Client-Secret header alongside the Access-Token on every request.
