openapi: 3.2.0
info:
  title: Fortnox REST API (Representative Subset) Suppliers API
  description: Grounded OpenAPI description of the Fortnox REST API - the Swedish cloud accounting/ERP platform for SMBs and accounting bureaus.
  version: '3.0'
  contact:
    name: Fortnox Developer
    url: https://www.fortnox.se/developer
  license:
    name: Fortnox API License / Terms
    url: https://www.fortnox.se/developer
servers:
- url: https://api.fortnox.se/3
  description: Fortnox REST API v3
security:
- accessToken: []
  clientSecret: []
tags:
- name: Suppliers
  description: Supplier register.
paths:
  /suppliers:
    get:
      operationId: listSuppliers
      tags:
      - Suppliers
      summary: List suppliers
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: A list of suppliers.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Suppliers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Supplier'
                  MetaInformation:
                    $ref: '#/components/schemas/MetaInformation'
    post:
      operationId: createSupplier
      tags:
      - Suppliers
      summary: Create a supplier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Supplier:
                  $ref: '#/components/schemas/Supplier'
      responses:
        '201':
          $ref: '#/components/responses/SupplierResponse'
  /suppliers/{SupplierNumber}:
    parameters:
    - name: SupplierNumber
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getSupplier
      tags:
      - Suppliers
      summary: Retrieve a supplier
      responses:
        '200':
          $ref: '#/components/responses/SupplierResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateSupplier
      tags:
      - Suppliers
      summary: Update a supplier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Supplier:
                  $ref: '#/components/schemas/Supplier'
      responses:
        '200':
          $ref: '#/components/responses/SupplierResponse'
components:
  responses:
    SupplierResponse:
      description: A single supplier.
      content:
        application/json:
          schema:
            type: object
            properties:
              Supplier:
                $ref: '#/components/schemas/Supplier'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      description: Fortnox error envelope.
      properties:
        ErrorInformation:
          type: object
          properties:
            Error:
              type: integer
            Message:
              type: string
            Code:
              type: integer
    MetaInformation:
      type: object
      description: Pagination metadata returned on list endpoints.
      properties:
        '@TotalResources':
          type: integer
        '@TotalPages':
          type: integer
        '@CurrentPage':
          type: integer
    Supplier:
      type: object
      description: A supplier in the supplier register.
      properties:
        SupplierNumber:
          type: string
        Name:
          type: string
        OrganisationNumber:
          type: string
        Email:
          type: string
        Address1:
          type: string
        City:
          type: string
        ZipCode:
          type: string
        CountryCode:
          type: string
        Currency:
          type: string
        BG:
          type: string
        PG:
          type: string
        VATNumber:
          type: string
      required:
      - Name
  parameters:
    page:
      name: page
      in: query
      description: Page number for paginated results.
      schema:
        type: integer
        minimum: 1
    limit:
      name: limit
      in: query
      description: Number of records per page (max 500).
      schema:
        type: integer
        maximum: 500
  securitySchemes:
    accessToken:
      type: apiKey
      in: header
      name: Access-Token
      description: OAuth2 Access-Token (Bearer JWT, valid 1 hour) obtained via the Authorization Code Flow from https://apps.fortnox.se/oauth-v1/token. Sent in the Access-Token header on every request.
    clientSecret:
      type: apiKey
      in: header
      name: Client-Secret
      description: The Client-Secret issued to your registered Fortnox developer application. Sent in the Client-Secret header alongside the Access-Token on every request.
